.Content{
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

input[name=search]{
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[name=search]:focus{
  width:30%;
}
